* {
    margin :0;
    padding :0;
    box-sizing: border-box;
}

body {
    background: rgb(1, 18, 255);
}

.wrapper{
    
    display: flex;
    justify-content: center;
    align-items : center;
    min-height:100vh;
}

.wrapper .loader {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;

}

.loader .loading{
    background : #fff;
    
    width: 30px;
    height : 30px;
    border-radius: 50%;
    margin : 0 10px;
    animation: load  0.8s ease infinite;

}

.loader .loading .one{
    animation-delay:03s;
}
.loader .loading .two{
    animation-delay: 05s;
}
.loader .loading .three{
    animation-delay: 07s;
}

@keyframes load {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}